@import "tailwindcss";

.font-sans {
  font-family: 'Roboto', sans-serif;
}

.font-mono {
  font-family: 'Roboto Mono', monospace;
}

@keyframes fadeInDown {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeInDown {
  animation: fadeInDown 1s ease forwards;
}

@keyframes slideUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-slideUp {
  animation: slideUp 0.8s ease forwards;
}
